<a href="https://colab.research.google.com/github/nhoelterhoff/AIPND/blob/master/b81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# B81 Analysis
Analysis of all B81 Events for the locations Barcelona, Berlin, Cologne, Hamburg, London, Munich & Vienna.

This analysis is structured as follows:
1. Data Cleansing
2. Analysis

## 1. Data Cleansing
- We need to import the data, and filter out all empty columns. 
- Furthermore, we only would like to see all published events.

The resulting dataframe will be stored within *events_cleaned.csv*.

In [ ]:
# set up libraries
import pandas as pd
import numpy as np
from google.colab import drive
import pytz
import datetime

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/Freelance/beat81/all_events.csv'
df_all = pd.read_csv(path)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,11,26,38,39,82,83,94,95,104,110,111,112,113,114,115,116,119,120,142,154,156,157,158) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_all.shape

(75622, 163)

### Remove Empty Columns

In [ ]:
# remove empty columns from dataset
non_empty_columns = []
empty_columns = []
for column in list(df_all.columns):
  # if the count of all null values equals the row number, the column is empty
  if df_all[column].isnull().sum() == df_all.shape[0]:
    empty_columns.append(column)
  else:
    non_empty_columns.append(column)
    
print('empty columns:')
print(empty_columns)
print('columns with content:')
print(non_empty_columns)
# print(columns_with_nan)

empty columns:
['company', 'tags', 'subtags', 'is_successfully_tracked', 'tracking_failure_summary', 'tracking_failure_description', 'tracking_failure_source', 'tracking_failure_unit', 'flags', 'current_status.meta', 'type.seo_slug', 'type.workout_plan_id', 'type.tags', 'type.subtags', 'type.flags', 'type.name_id', 'location.slug', 'location.sys_flags', 'location.address.city', 'location.address.address2', 'location.address.district', 'location.address.city_code', 'location.address.country_code', 'location.address.district_code', 'location.map_image', 'coach.profile_picture', 'location.opening_hours', 'type.header_image_desc', 'location.address', 'sys_flags', 'current_status', 'location.feature_flags']
columns with content:
['id', 'event_type_id', 'coach_id', 'location_id', 'current_status_id', 'recurrent_id', 'is_published', 'date_begin', 'duration', 'max_participants', 'type_special', 'participants_count', 'attendees_count', 'no_shows_count', 'permitted_cancellations_count', 'illicit_cancellations_count', 'waitinglist_count', 'results_count', 'results_with_readings_count', 'gritpoints_avg', 'gritpoints_sum', 'calories_burned_avg', 'calories_burned_sum', 'has_tracking_abnormality', 'created_by', 'created_at', 'updated_at', 'current_participants_count', 'is_cancelled', 'sys_flags.missing_coach_alert_sent', 'sys_flags.low_participants_alert_sent', 'current_status.id', 'current_status.event_id', 'current_status.status_name', 'current_status.transitioned_at', 'current_status.created_by', 'current_status.created_at', 'type.id', 'type.is_published', 'type.slug', 'type.workout_category', 'type.booking_options.requires_paying_customer', 'type.header_image_desc.url', 'type.header_image_desc.etag', 'type.header_image_desc.tags', 'type.header_image_desc.type', 'type.header_image_desc.bytes', 'type.header_image_desc.width', 'type.header_image_desc.format', 'type.header_image_desc.height', 'type.header_image_desc.version', 'type.header_image_desc.public_id', 'type.header_image_desc.signature', 'type.header_image_desc.created_at', 'type.header_image_desc.secure_url', 'type.header_image_desc.overwritten', 'type.header_image_desc.resource_type', 'type.header_image_desc.original_filename', 'type.adjustment_factor', 'type.join_mode', 'type.visibility', 'type.created_by', 'type.created_at', 'type.updated_at', 'type.name', 'type.description', 'type.seo_title', 'type.seo_description', 'location.map_image.large.url', 'location.map_image.medium.url', 'location.map_image.small.url', 'location.map_image.public_id', 'location.map_image.version', 'location.id', 'location.is_published', 'location.analytics_name', 'location.type', 'location.tags', 'location.subtags', 'location.lat', 'location.lon', 'location.country_code', 'location.city_code', 'location.district_code', 'location.address.zip', 'location.address.address1', 'location.timezone', 'location.feature_flags.indoors', 'location.flags.automatic_cancellation', 'location.created_by', 'location.created_at', 'location.updated_at', 'location.coach_id', 'location.news', 'location.codes', 'location.rules', 'location.equipment', 'location.tech', 'location.entry_guide', 'location.name', 'location.description', 'location.description_short', 'location.description_address', 'coach.id', 'coach.forename', 'coach.surname', 'coach.email', 'coach.profile_picture.large.url', 'coach.profile_picture.medium.url', 'coach.profile_picture.small.url', 'coach.profile_picture.thumb.url', 'coach.profile_picture.publicId', 'coach.profile_picture.version', 'coach.user.id', 'coach.user.forename', 'coach.user.email', 'coach.updated_at', 'current_status.meta.reason', 'sys_flags.participants_prediction.on_0_hours_left', 'sys_flags.participants_prediction.on_6_hours_left', 'sys_flags.participants_prediction.on_24_hours_left', 'sys_flags.participants_prediction.on_72_hours_left', 'sys_flags.participants_prediction.on_120_hours_left', 'sys_flags.participants_prediction.on_168_hours_left', 'sys_flags.participants_prediction.on_240_hours_left', 'current_status.meta.date_begin', 'sys_flags.participants_prediction.on_336_hours_left', 'flags.needs_coach_replacement', 'current_status.meta.source', 'sys_flags.dangling_check_done', 'current_status.meta.num_results_processed']

In [ ]:
# create df only with columns with content
df = df_all[non_empty_columns]

### Remove Unpublished Events

In [ ]:
# only keep events that were published
published = df_all['is_published'] == True
df = df[published]

### Clean Workout Categories

In [ ]:
df['type.workout_category'].value_counts()

hiit               41581
strength-cardio    24441
strength            4420
cycling             2424
Yoga                 572
Yoga-HIIT            442
beginner             423
online               256
mobility               8
Hiit                   3
Strength               1
Name: type.workout_category, dtype: int64

In [ ]:
df['type.workout_category'].replace('Hiit','hiit', inplace=True)

In [ ]:
df['type.workout_category'].replace('Strength ','strength', inplace=True)

In [ ]:
df['type.workout_category'].value_counts()

hiit               41584
strength-cardio    24441
strength            4421
cycling             2424
Yoga                 572
Yoga-HIIT            442
beginner             423
online               256
mobility               8
Name: type.workout_category, dtype: int64

### Save Dataset to File

In [ ]:
# save analysis data to csv file
df.to_csv('/content/drive/My Drive/Freelance/beat81/events_cleaned.csv')

## Data Analysis
In this section, the analysis will be carried out. They will be aggregated on a monthly basis.

### The areas of interest for this analysis are the following:
- session totals (completed/ cancelled)

**For completed sessions:**
- totals for indoor/ outdoor
- totals for workout types
- total available/ used slots
- total no shows
- mean attendance rate
- unique trainers

In [ ]:
# import df
df_loaded = pd.read_csv('/content/drive/My Drive/Freelance/beat81/events_cleaned.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,11,24,30,31,67,68,69,70,71,72,78,79,88,93,94,95,96,97,98,99,102,126,128,129,130) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Filter to Only Use Necessary Columns & Fix Datatypes

In [ ]:
# filter to only use columns relevant for this analysis
df = df_loaded[['id','date_begin','event_type_id','coach_id','duration','max_participants','participants_count','attendees_count','no_shows_count','waitinglist_count','permitted_cancellations_count','illicit_cancellations_count','is_cancelled','current_status.id','current_status.status_name', 'location.city_code','location.type','type.id','type.workout_category']].copy()
df.rename(columns={"current_status.id": "current_status_id", "current_status.status_name": "current_status_name","type.id":"type_id","type.workout_category":"type_workout_category", "location.type":"location_type","location.city_code":"city"},inplace=True)
df.head()

                                     id  ... type_workout_category
0  8127571a-53a0-4263-8986-f7e862944057  ...                  hiit
1  359335b1-06f2-43ad-b9a3-015166387fdd  ...                  hiit
2  925de809-bcef-4494-bd9c-f188fb9de82d  ...                  hiit
3  6da81591-0f14-4386-8a21-5efa5c774d02  ...                  hiit
4  9d1fec1a-d4dd-43fd-8882-9d0af41a028f  ...                  hiit

[5 rows x 19 columns]

In [ ]:
df.dtypes

id                                object
date_begin                        object
event_type_id                     object
coach_id                          object
duration                           int64
max_participants                   int64
participants_count               float64
attendees_count                  float64
no_shows_count                   float64
waitinglist_count                float64
permitted_cancellations_count    float64
illicit_cancellations_count      float64
is_cancelled                        bool
current_status_id                 object
current_status_name               object
city                              object
location_type                     object
type_id                           object
type_workout_category             object
dtype: object

In [ ]:
# date_begin needs to be a timestamp
df.date_begin = pd.to_datetime(df.date_begin)

In [ ]:
df.dtypes

id                                            object
date_begin                       datetime64[ns, UTC]
event_type_id                                 object
coach_id                                      object
duration                                       int64
max_participants                               int64
participants_count                           float64
attendees_count                              float64
no_shows_count                               float64
waitinglist_count                            float64
permitted_cancellations_count                float64
illicit_cancellations_count                  float64
is_cancelled                                    bool
current_status_id                             object
current_status_name                           object
city                                          object
location_type                                 object
type_id                                       object
type_workout_category                         object
dtype: object

In [ ]:
# localize time
df['date_begin_berlin'] = df['date_begin'].dt.tz_convert("Europe/Berlin")
# pd.to_datetime(, unit='ms').dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
df[['date_begin','date_begin_berlin']].head()

                 date_begin         date_begin_berlin
0 2017-07-31 16:00:00+00:00 2017-07-31 18:00:00+02:00
1 2017-07-31 17:00:00+00:00 2017-07-31 19:00:00+02:00
2 2017-08-02 17:00:00+00:00 2017-08-02 19:00:00+02:00
3 2017-08-03 17:00:00+00:00 2017-08-03 19:00:00+02:00
4 2017-08-05 09:00:00+00:00 2017-08-05 11:00:00+02:00

### Completed & Cancelled Events

In [ ]:
df['month'] = df.date_begin_berlin.dt.strftime('%Y/%m')
df.head()

                                     id  ...    month
0  8127571a-53a0-4263-8986-f7e862944057  ...  2017/07
1  359335b1-06f2-43ad-b9a3-015166387fdd  ...  2017/07
2  925de809-bcef-4494-bd9c-f188fb9de82d  ...  2017/08
3  6da81591-0f14-4386-8a21-5efa5c774d02  ...  2017/08
4  9d1fec1a-d4dd-43fd-8882-9d0af41a028f  ...  2017/08

[5 rows x 21 columns]

In [ ]:
df_status = df.groupby(['month','current_status_name','city'])['id'].count().reset_index()

cancelled = df_status.current_status_name == 'cancelled'
completed = df_status.current_status_name == 'completed'

In [ ]:
status_export = df_status[cancelled | completed].pivot_table(index=["current_status_name","city"], columns="month", values="id", aggfunc=np.sum, fill_value=0)
status_export

month                          2017/07  2017/08  ...  2031/04  2031/07
current_status_name city                         ...
cancelled           barcelona        0        0  ...        0        0
                    berlin           0        0  ...        1        1
                    cologne          0        0  ...        0        0
                    hamburg          0        0  ...        0        0
                    london           0        0  ...        0        0
                    munich           0        0  ...        0        0
                    vienna           0        0  ...        0        0
completed           barcelona        0        0  ...        0        0
                    berlin           2       22  ...        0        0
                    cologne          0        0  ...        0        0
                    hamburg          0        0  ...        0        0
                    london           0        0  ...        0        0
                    munich           0        0  ...        0        0
                    vienna           0        0  ...        0        0

[14 rows x 119 columns]

In [ ]:
df_result = df_status[cancelled | completed].copy()
df_result['kpi'] = 'Session Total'
df_result.rename(columns={"current_status_name":"variable","id":"count"}, inplace=True)
df_result

       month   variable    city  count            kpi
0    2017/07  completed  berlin      2  Session Total
1    2017/08  completed  berlin     22  Session Total
2    2017/09  completed  berlin     29  Session Total
3    2017/10  completed  berlin     26  Session Total
4    2017/11  completed  berlin     25  Session Total
..       ...        ...     ...    ...            ...
379  2030/08  cancelled  berlin      1  Session Total
380  2030/10  cancelled  berlin      1  Session Total
381  2031/01  cancelled  berlin      1  Session Total
382  2031/04  cancelled  berlin      1  Session Total
383  2031/07  cancelled  berlin      1  Session Total

[308 rows x 5 columns]

In [ ]:
# status_export.to_csv('/content/drive/My Drive/Freelance/beat81/status_export.csv')

### Stats for Completed Events

In [ ]:
# use only completed events
completed = df.current_status_name == 'completed'
df = df[completed]

In [ ]:
df.current_status_name.value_counts()

completed    17044
Name: current_status_name, dtype: int64

#### Totals In/ Outdoor

In [ ]:
df_indoor = df.groupby(['month','location_type','city'])['id'].count().reset_index()
df_indoor

       month location_type     city   id
0    2017/07       outdoor   berlin    2
1    2017/08       outdoor   berlin   22
2    2017/09       outdoor   berlin   29
3    2017/10       outdoor   berlin   26
4    2017/11       outdoor   berlin   25
..       ...           ...      ...  ...
114  2020/05       outdoor   berlin  479
115  2020/06        indoor   berlin   37
116  2020/06       outdoor   berlin  367
117  2020/06       outdoor  cologne   48
118  2020/06       outdoor  hamburg   11

[119 rows x 4 columns]

In [ ]:
# indoor_export = df_indoor.pivot_table(index="location_type", columns="month", values="id", aggfunc=np.sum, fill_value=0)
# indoor_export

In [ ]:
# indoor_export.to_csv('/content/drive/My Drive/Freelance/beat81/status_export.csv')

In [ ]:
df_indoor['kpi'] = 'location_type'
df_indoor.rename(columns={"location_type":"variable","id":"count"}, inplace=True)
df_result = df_result.append(df_indoor,ignore_index=True)
df_result

       month   variable     city  count            kpi
0    2017/07  completed   berlin      2  Session Total
1    2017/08  completed   berlin     22  Session Total
2    2017/09  completed   berlin     29  Session Total
3    2017/10  completed   berlin     26  Session Total
4    2017/11  completed   berlin     25  Session Total
..       ...        ...      ...    ...            ...
422  2020/05    outdoor   berlin    479  location_type
423  2020/06     indoor   berlin     37  location_type
424  2020/06    outdoor   berlin    367  location_type
425  2020/06    outdoor  cologne     48  location_type
426  2020/06    outdoor  hamburg     11  location_type

[427 rows x 5 columns]

#### Totals by Workout Type

In [ ]:
df_wotype = df.groupby(['month','type_workout_category','city'])['id'].count().reset_index()
df_wotype

       month type_workout_category     city   id
0    2017/07                  hiit   berlin    2
1    2017/08                  hiit   berlin   22
2    2017/09                  hiit   berlin   29
3    2017/10                  hiit   berlin   26
4    2017/11                  hiit   berlin   25
..       ...                   ...      ...  ...
178  2020/06                  hiit  cologne   22
179  2020/06                  hiit  hamburg    5
180  2020/06       strength-cardio   berlin  198
181  2020/06       strength-cardio  cologne   26
182  2020/06       strength-cardio  hamburg    6

[183 rows x 4 columns]

In [ ]:
df_wotype['kpi'] = 'workout_category'
df_wotype.rename(columns={"type_workout_category":"variable","id":"count"}, inplace=True)
df_wotype.head()

     month variable    city  count               kpi
0  2017/07     hiit  berlin      2  workout_category
1  2017/08     hiit  berlin     22  workout_category
2  2017/09     hiit  berlin     29  workout_category
3  2017/10     hiit  berlin     26  workout_category
4  2017/11     hiit  berlin     25  workout_category

In [ ]:
df_result = df_result.append(df_wotype, ignore_index=True)
df_result

       month         variable     city  count               kpi
0    2017/07        completed   berlin      2     Session Total
1    2017/08        completed   berlin     22     Session Total
2    2017/09        completed   berlin     29     Session Total
3    2017/10        completed   berlin     26     Session Total
4    2017/11        completed   berlin     25     Session Total
..       ...              ...      ...    ...               ...
605  2020/06             hiit  cologne     22  workout_category
606  2020/06             hiit  hamburg      5  workout_category
607  2020/06  strength-cardio   berlin    198  workout_category
608  2020/06  strength-cardio  cologne     26  workout_category
609  2020/06  strength-cardio  hamburg      6  workout_category

[610 rows x 5 columns]

#### Totals by Available Slots, Used Slots, No Shows

In [ ]:
df_attendance = df[['month','max_participants','participants_count','attendees_count','permitted_cancellations_count','illicit_cancellations_count','no_shows_count','waitinglist_count','city']].groupby(['month','city']).sum().reset_index()
df_attendance['kpi'] = 'attendance'
df_attendance

      month     city  ...  waitinglist_count         kpi
0   2017/07   berlin  ...                0.0  attendance
1   2017/08   berlin  ...                0.0  attendance
2   2017/09   berlin  ...                0.0  attendance
3   2017/10   berlin  ...                0.0  attendance
4   2017/11   berlin  ...                1.0  attendance
..      ...      ...  ...                ...         ...
78  2020/03   munich  ...                0.0  attendance
79  2020/05   berlin  ...             1112.0  attendance
80  2020/06   berlin  ...              709.0  attendance
81  2020/06  cologne  ...               11.0  attendance
82  2020/06  hamburg  ...                0.0  attendance

[83 rows x 10 columns]

In [ ]:
df_attendance_result = pd.melt(df_attendance, id_vars=['month','kpi','city'], value_vars=['max_participants','participants_count','attendees_count','permitted_cancellations_count','illicit_cancellations_count','no_shows_count','waitinglist_count'], value_name='count')
df_attendance_result

       month         kpi     city           variable   count
0    2017/07  attendance   berlin   max_participants    64.0
1    2017/08  attendance   berlin   max_participants   704.0
2    2017/09  attendance   berlin   max_participants   928.0
3    2017/10  attendance   berlin   max_participants   832.0
4    2017/11  attendance   berlin   max_participants   496.0
..       ...         ...      ...                ...     ...
576  2020/03  attendance   munich  waitinglist_count     0.0
577  2020/05  attendance   berlin  waitinglist_count  1112.0
578  2020/06  attendance   berlin  waitinglist_count   709.0
579  2020/06  attendance  cologne  waitinglist_count    11.0
580  2020/06  attendance  hamburg  waitinglist_count     0.0

[581 rows x 5 columns]

In [ ]:
df_result = df_result.append(df_attendance_result,ignore_index=True)

In [ ]:
df_result

        month           variable     city   count            kpi
0     2017/07          completed   berlin     2.0  Session Total
1     2017/08          completed   berlin    22.0  Session Total
2     2017/09          completed   berlin    29.0  Session Total
3     2017/10          completed   berlin    26.0  Session Total
4     2017/11          completed   berlin    25.0  Session Total
...       ...                ...      ...     ...            ...
1186  2020/03  waitinglist_count   munich     0.0     attendance
1187  2020/05  waitinglist_count   berlin  1112.0     attendance
1188  2020/06  waitinglist_count   berlin   709.0     attendance
1189  2020/06  waitinglist_count  cologne    11.0     attendance
1190  2020/06  waitinglist_count  hamburg     0.0     attendance

[1191 rows x 5 columns]

#### Unique Trainers

In [ ]:
df_trainers = df[['month','coach_id','city']]

df_trainers.shape

(17044, 3)

In [ ]:
df_trainers_result = df_trainers.drop_duplicates()
df_trainers_result.shape

(1008, 3)

In [ ]:
df_trainers_agg = df_trainers_result.groupby(['month','city']).count().reset_index()
df_trainers_agg.rename(columns={"coach_id":"count"}, inplace=True)
df_trainers_agg['kpi'] = 'trainers'
df_trainers_agg['variable'] = 'unique trainers'
df_trainers_agg

      month     city  count       kpi         variable
0   2017/07   berlin      0  trainers  unique trainers
1   2017/08   berlin      0  trainers  unique trainers
2   2017/09   berlin      0  trainers  unique trainers
3   2017/10   berlin      0  trainers  unique trainers
4   2017/11   berlin      1  trainers  unique trainers
..      ...      ...    ...       ...              ...
78  2020/03   munich      5  trainers  unique trainers
79  2020/05   berlin     33  trainers  unique trainers
80  2020/06   berlin     35  trainers  unique trainers
81  2020/06  cologne      6  trainers  unique trainers
82  2020/06  hamburg      3  trainers  unique trainers

[83 rows x 5 columns]

In [ ]:
df_result = df_result.append(df_trainers_agg, ignore_index=True)

### Summary

In [ ]:
df_result['count'] = df_result['count'].astype(int)

In [ ]:
df_result.pivot_table(index=["kpi","variable","city"], columns="month", values=["count"], aggfunc=np.sum, fill_value=0)

                                             count          ...
month                                      2017/07 2017/08  ... 2031/04 2031/07
kpi              variable        city                       ...
Session Total    cancelled       barcelona       0       0  ...       0       0
                                 berlin          0       0  ...       1       1
                                 cologne         0       0  ...       0       0
                                 hamburg         0       0  ...       0       0
                                 london          0       0  ...       0       0
...                                            ...     ...  ...     ...     ...
workout_category strength-cardio barcelona       0       0  ...       0       0
                                 berlin          0       0  ...       0       0
                                 cologne         0       0  ...       0       0
                                 hamburg         0       0  ...       0       0
                                 munich          0       0  ...       0       0

[100 rows x 119 columns]

In [ ]:
df_result

        month         variable     city  count            kpi
0     2017/07        completed   berlin      2  Session Total
1     2017/08        completed   berlin     22  Session Total
2     2017/09        completed   berlin     29  Session Total
3     2017/10        completed   berlin     26  Session Total
4     2017/11        completed   berlin     25  Session Total
...       ...              ...      ...    ...            ...
1269  2020/03  unique trainers   munich      5       trainers
1270  2020/05  unique trainers   berlin     33       trainers
1271  2020/06  unique trainers   berlin     35       trainers
1272  2020/06  unique trainers  cologne      6       trainers
1273  2020/06  unique trainers  hamburg      3       trainers

[1274 rows x 5 columns]

In [ ]:
df_result.to_csv('/content/drive/My Drive/Freelance/beat81/huesch_export.csv',index=False)